<div class="container">
  <h1 class="page_titles"> My Services </h1>
  <%= form_tag(services_path, method: :get, class: "mb-3 mt-3", data: { controller: "debounce-search" }) do %>
    <div class="input-group">
      <%= text_field_tag(:query, params[:query], data: { action: "input->debounce-search#search" }, class: "form-control", placeholder: "Search by service description") %>
    </div>
  <% end %>
  <% @services.each do |service| %>
    <%= render partial: 'service', locals: { service: service } %>
  <% end %>

  <%= link_to "New Service", new_service_path, class: "btn btn-primary p-2", id: "button_style" %>
</div>
