<footer class="footer">
  <div class="footer-links">
    <a href="https://github.com/GiGi2044" target=”_blank”><i class="fa-brands fa-github"></i></a>
    <a href="https://www.linkedin.com/in/gian-cunningham/" target=”_blank”><i class="fa-brands fa-linkedin"></i></a>
    <a href="https://www.instagram.com/gigicunningham_/" target=”_blank”><i class="fa-brands fa-instagram"></i></a>
  </div>
  <div class="footer-text">
    <span class="copy">Copyright 2023 © Gian Cunningham</span>
  </div>
</footer>
