<nav class="nav">
  <div class="nav-title">
    <% if user_signed_in? %>
      <%= current_user.email %>
    <% else %>
      Guest User
    <% end %>
  </div>
  <ul class="nav-list">
    <li class="nav-list-item dropdown-item">
      <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete } %>
      </li>
  </ul>
</nav>
