<div class="container">
  <h1 class="page_titles"> My Clients </h1>
  <% @bills.each do |bill| %>
    <%= render partial: 'client', locals: { bill: bill } %>
  <% end %>
  <%= link_to "New Client", new_client_path, class: "btn btn-primary p-2", id: "button_style" %>
</div>
