<h1 class="home_title">Welcome to JustInvoice ! </h1>
<div class="home_container">
  <div class="home_card">
    <div class="home_card_title">
      <h2>Manage your bills</h2>
    </div>
    <div class="home_card_content">
      <p>Manage your bills and keep track of your expenses</p>
    </div>
  </div>
  <div class="home_card">
    <div class="home_card_title">
      <h2>Save time</h2>
    </div>
    <div class="home_card_content">
      <p>JustInvoice is a simple and easy to use app</p>
    </div>
  </div>
  <div class="home_card">
    <div class="home_card_title">
      <h2>Save money</h2>
    </div>
    <div class="home_card_content">
      <p>JustInvoice is free to use</p>
    </div>
  </div>
</div>
<a href="<%= new_user_registration_path %>">Sign up for free Now !</a>
