<h1>New Bill Created</h1>
<% if @client %>
  <p>Hello <%= @client.client_name %>,</p>
  <p>A new bill has been created for you. Please check your account for details.</p>
<% else %>
  <p>Error: Client not found</p>
<% end %>
