.custom-form {
  width: 80%;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 40px;
}

.form_title {
  color: #000;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.padded-top {
  padding-top: 30px;
}

.form-subtitle {
  font-weight: bold;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.invisible-spacer {
  height: 33.59px; /* Adjust this to match the height of the h3 element */
  visibility: hidden;
  margin-bottom: 10px;
}

.bill_form_subtitles {
  margin: 20px 0px;
  padding: 0;
}

.btn-outline-primary {
  margin-top: 20px;
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .invisible-spacer {
    height: 32.33px; /* Adjust this to match the height of the h3 element */
    visibility: hidden;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .invisible-spacer {
    height: 30.96px; /* Adjust this to match the height of the h3 element */
    visibility: hidden;
    margin-bottom: 10px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .invisible-spacer {
    height: 24.95px; /* Adjust this to match the height of the h3 element */
    visibility: hidden;
    margin-bottom: 10px;
  }
}

@media only screen and (max-width: 575px) {
  .custom-form {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  .col-md-6 {
    width: 45%;
  }

  .row .col-md-6 {
    width: 50%;
  }

  .form-label{
    font-size: 12px;
  }

  .form_title {
    color: #000;
    font-weight: bold;
    text-align: center;
    margin: 20px 0px;
  }

  .padded-top {
    padding-top: 10px;
  }

  .form-subtitle {
    font-weight: bold;
    font-size: 1.3rem;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
  }

  .invisible-spacer {
    height: 24.95px; /* Adjust this to match the height of the h3 element */
    visibility: hidden;
    margin-bottom: 10px;
  }

  .bill_form_subtitles {
    margin: 20px 0px;
    padding: 0;
  }

  .input-group{
    width: 90%;
  }

  .toggle-controller {
    flex-direction: column;
  }
  .btn-outline-primary {
    margin-top: 0px;
  }
}
