.navbar {
  background-color: #fff;
  border-bottom: 2px solid #e6e6e6;
  border-top: 1px solid #e6e6e6;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  height: 100%;
  display: flex;
  justify-content: space-between;

}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 60px;
}

.a {
  color: #374785;
  text-decoration: none;
  list-style: none;
  padding: 20px;
  margin: 0 20px;
  text-decoration: none;
  font-size: larger;  /* Adjusts the size of the text */
  font-weight: bold;  /* Makes the text bold */
}

.b {
  text-decoration: none;
  list-style: none;
  padding: 20px;
  margin: 0 20px;
  text-decoration: none;
  font-size: larger;  /* Adjusts the size of the text */
  font-weight: bold;  /* Makes the text bold */
}

.a:hover {
  color: #659DBD;
}

.nav-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar .nav-title .logo-link {
  text-decoration: none;
}


.logo-link {
  text-decoration: none;
  list-style: none;
  padding-left: 20px;
  padding-right: 5px;
  margin-bottom: 10px;
  margin: 0px;
  text-decoration: none;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  cursor: pointer;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content .a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content .a:hover {
  background-color: #f1f1f1;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
