.sign_title {
  color: #000;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.form-container {
  width: 30%;       /* Set width to 50% of the parent element */
  margin: 0 auto;   /* Center the form */
  border: 1px solid #ccc; /* Add a border around the form */
  padding: 20px;    /* Add some padding inside the box */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  margin-top: 80px;
}

.form-actions {
  text-align: right;
  margin: 30px 0px 20px 0px;
}

.full-width {
  width: 100%; /* Makes the button full width */
  text-align: center; /* Centers the text in the button */
}

.text-center {
  text-align: center;
}

/* This container will use flexbox to center its children (the paragraph and the button) */
.oauth-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This removes default styles from the button and allows you to apply your own */
.oauth-button-style {
  border: none;
  background-color: white;
  padding: 0;
  display: flex; /* Flexbox to the rescue again for centering */
  justify-content: center;
}

img {
  display: block;
  margin: auto; /* This will center the image within the button */
}

@media only screen and (min-width: 1200px) {
  /* Example: Increase padding and font sizes for larger screens */
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Adjust styles for medium-sized desktop screens */
  .form-container {
    width: 50%; /* Ideal for medium screens */
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .form-container {
    width: 60%; /* Narrower for tablets and small desktops */
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .form-container {
    width: 80%; /* Still relatively wide for small tablets */
  }

  .sign_title {
    font-size: 1.75em; /* Slightly bigger than on mobile */
  }
}

@media only screen and (max-width: 575px) {
  .form-container {
    width: 100%; /* Still relatively wide for small tablets */
  }
  .sign_title {
    font-size: 1.5em; /* Slightly bigger than on mobile */
  }
}
