/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .body {
  font-family: "Open Sans", sans-serif;
  margin: 0px; /* Removed the large margin */
  min-height: 100%; /* Changed from 100vh to 100% */
  display: flex;
  flex-direction: column;
}
.full_flash {
  width: 100%;
}

.flash-message {
  width: 25%;
  position: fixed; /* Fixed positioning relative to the viewport */
  top: 10px; /* Distance from the top */
  right: 10px; /* Distance from the right */
  color: #fff;
  background-color: rgb(209, 209, 209);
  text-align: center;
  z-index: 1000; /* Ensure it appears above other content */
  padding: 10px;
  border: 1px solid rgb(209, 209, 209);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.flash-opt-out{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
  color: #fff;
  font-size: 0.8em;
  cursor: pointer;
}

.container {
  max-width: 90%; /* Adjusted from 90vw to percentage to account for padding/margin */
  margin: 20px auto; /* Centered the container */
  min-height: auto; /* Changed from 100vh to auto */
}

.hidden {
  display: none;
}


.btn-primary {
  background-color: #374785;
  border: #374785;
  color: #fff;
}

.btn-primary:hover {
  background-color: #659DBD;
  border: 1px solid #659DBD;
  color: #fff;
}

.toggle-controller {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
  align-items: start;
}

.page_titles{
  margin: 20px 0px;
  padding: 0;
}

@media only screen and (min-width: 1200px) {

}

@media only screen and (min-width: 992px) and (max-width: 1199px) {

}

@media only screen and (min-width: 768px) and (max-width: 991px) {

}

@media only screen and (min-width: 576px) and (max-width: 767px) {

}

@media only screen and (max-width: 575px) {
  .container {
    max-width: 100%; /* Allow container to fill the width */
    margin: 0px auto; /* Reduce margin */
    padding: 0 10px; /* Add padding to prevent content touching the edges */
    min-height: auto; /* Allow container to grow with content */
  }
}
