@import "navbar.css";
@import "custom_table.css";
@import "homepage.css";
@import "signinup.css";
@import "custom_form.css";
@import "footer.css";


.body {
  font-family: "Open Sans", sans-serif;
  margin: 200px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
	max-width: 90vw;
	margin: 20px;
}

#button_style{
  width: 10%;
  padding: 10px 20px;
  text-align: center;
  justify-content: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.buttons-container {
  display: flex;
  margin-bottom: 20px;
}

.button-group {
  margin-right: 10px; /* Adjust spacing as needed */
}

.hidden {
  display: none;
}

@media only screen and (min-width: 1200px) {
  /* Example: Increase padding and font sizes for larger screens */
  .home_title {
      font-size: 3.5em;
  }
  .nav-container {
      margin: 0 80px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  /* Adjust styles for medium-sized desktop screens */
  .home_title {
      font-size: 3em;
  }
  .nav-container {
      margin: 0 60px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .home_title {
      font-size: 2.5em;
  }
  .nav-container {
      margin: 0 40px;
  }
  .pricing_card {
      width: 100%;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .home_title {
      font-size: 2em;
  }
  .nav-container {
      margin: 0 30px;
  }
  .header_homepage {
      min-height: 400px;
  }
}

@media only screen and (max-width: 575px) {
  .home_title {
      font-size: 1.5em;
  }
  .nav-container {
      margin: 0 20px;
      flex-direction: column;
  }
  .navbar {
      flex-direction: column;
  }
  .header_homepage {
      min-height: 300px;
  }
  .home_manage, .home_time {
      flex-direction: column;
  }
  .pricing_card {
      width: 100%;
  }
  .dropdown-content {
      right: -160px; /* Adjust as needed */
  }
  #nav_button {
      width: 100%;
  }
}
